
body{
    background-color: #526D82;
}

/*HEADER*/

.grid-container-header{
    display: grid;
    width: 100%;
    grid-template-areas: ". myname myname myname myname ."
                         ". occupation phone email website .";
    /*gap: 10px;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 100px;
    font-family: 'Nunito Sans', sans-serif;    
}


.header-myname{
    grid-area: myname;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #DDE6ED;
}

p{
    margin: 0;
}

h4{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

.header-occupation{
    grid-area: occupation;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #DDE6ED;
}

.header-phone{
    grid-area: phone;
    border-top: 2px solid rgb(180, 180, 175);
    padding-top: 10px;
    padding-left: 10px;
    background-color: #DDE6ED;
}

.header-email{
    grid-area: email;
    border-top: 2px solid rgb(180, 180, 175);
    padding-top: 10px;
    padding-left: 10px;
    background-color: #DDE6ED;
}

.header-website{
    grid-area: website;
    border-top: 2px solid rgb(180, 180, 175);
    padding-top: 10px;
    padding-left: 10px;
    background-color: #DDE6ED;
}

/*PROFILE*/

.grid-container-profile{
    display: grid;
    width: 100%;
    grid-template-areas: ". address picture description description .";
    /*gap: 10px;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    font-family: 'Nunito Sans', sans-serif;
}

.profile-address{
    grid-area: address;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-address h4{
    border-bottom: 2px solid rgb(180, 180, 175);
}

.profile-picture{
    grid-area: picture;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: #DDE6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-picture img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-self: center;
}

.profile-picture > h4{
    background-color: #bec5ca;
}

.profile-description{
    grid-area: description;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DDE6ED;
}

.profile-description p{
    text-align: justify;
}

/*FORMATION*/

.grid-container-formation{
    display: grid;
    width: 100%;
    grid-template-areas: ". title year1 description1 description1 ."
                         ". title year2 description2 description2 .";
    /*gap: 10px;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    font-family: 'Nunito Sans', sans-serif;
}

.formation-title{
    grid-area: title;
    background-color: #DDE6ED;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.formation-title h3{
    border-bottom: 2px solid rgb(180, 180, 175);
}

.formation-year1{
    grid-area: year1;
    background-color: #DDE6ED;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.formation-year1 h3{
    border-top: 2px solid rgb(180, 180, 175);
}

.formation-description1{
    grid-area: description1;
    background-color: #DDE6ED;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.formation-description1 h3{
    border-bottom: 2px solid rgb(180, 180, 175);
}
.formation-description1 p{
    text-align: justify;
}

.formation-year2{
    grid-area: year2;
    background-color: #DDE6ED;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.formation-year2 h3{
    border-top: 2px solid rgb(180, 180, 175);
}

.formation-description2{
    grid-area: description2;
    background-color: #DDE6ED;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.formation-description2 h3{
    border-bottom: 2px solid rgb(180, 180, 175);
}
.formation-description2 p{
    text-align: justify;
}

@media (max-width: 1074px) {
    .grid-container-header{
        display: grid;
        width: 100%;
        grid-template-areas: ". myname myname myname myname ."
                             ". occupation phone email website .";
        /*gap: 10px;*/
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 120px 100px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .grid-container-profile{
        display: grid;
        width: 100%;
        grid-template-areas: ". address picture description description .";
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    }

    .profile-picture img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .grid-container-formation{
        display: grid;
        width: 100%;
        grid-template-areas: ". title year1 description1 description1 ."
                             ". title year2 description2 description2 .";
        /*gap: 10px;*/
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media (max-width: 875px) {
    .grid-container-header{
        display: grid;
        width: 100%;
        grid-template-areas: "myname myname myname myname"
                             "occupation phone email website";
        /*gap: 10px;*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 100px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .grid-container-profile{
        display: grid;
        width: 100%;
        grid-template-areas: "address picture description description";
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid-container-formation{
        display: grid;
        width: 100%;
        grid-template-areas: "title year1 description1 description1"
                             "title year2 description2 description2";
        /*gap: 10px;*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-family: 'Nunito Sans', sans-serif;
    }
}

@media (max-width: 665px) {
    .grid-container-header{
        display: grid;
        width: 100%;
        grid-template-areas: "myname"
                             "occupation" 
                             "phone" 
                             "email" 
                             "website";
        /*gap: 10px;*/
        grid-template-columns: 1fr;
        grid-template-rows: 120px 100px;
        font-family: 'Nunito Sans', sans-serif;
    }

    .header-myname{
        font-size: 30px;
    }

    .grid-container-profile{
        display: grid;
        width: 100%;
        grid-template-areas: "address" "picture" "description" "description";
        grid-template-columns: 1fr;
        grid-template-rows: 120px;
    }

    .grid-container-formation{
        display: grid;
        width: 100%;
        grid-template-areas: "title" "year1" "description1" "description1"
                             "year2" "description2" "description2";
        /*gap: 10px;*/
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        font-family: 'Nunito Sans', sans-serif;
    }
}